<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PostgreSQLConnection"
			 connectionString="Host=192.168.1.11;Port=5432;Database=lucysDB;Username=postgres;Password=postgress123;"
			 providerName="Npgsql" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>